fieldset.authorize_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

fieldset.authorize_checkbox .fieldset__wrapper.fieldset__wrapper--group {
  position: relative;
  top: 2px;
}

fieldset.authorize_checkbox  .form-type-checkbox {
  margin-right: 0;
}